@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

* {
  margin: 0;
}

html {
  font-family: Montserrat, sans-serif;
  /* font-size: 20px; */
}

article + article {
  background-color: blue;
}

footer > ul {
  border: 2px dotted red;
}

ul ~ p {
  text-decoration-style: wavy;
  text-decoration-color: red;
  text-decoration-line: underline;
}

h2 + p {
  background-color: yellow;
}
main p article > p {
  text-shadow: orange 0 -10px 1em;
}
