* {
  box-sizing: border-box;
}

html {
  text-align: center;
  font-family: sans-serif;
}

.userCard {
  border: 2px solid red;
  max-width: 400px;
  width: 100%;
  min-width: 300px;
}

.userCardBackground {
  width: 100%;
  height: 100px;
  background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=300);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userProfilePhoto {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid grey;
  margin-top: -37px;
}

.userName {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userInfo {
  padding: 0 10px;
  color: grey;
}

.userLink {
  display: inline-block;
  color: lightslategray;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid lightslategray;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.userFollowersList {
  font-size: 0;
}

.userFollowers {
  display: inline-block;
  width: 33.33%;
  font-size: initial;
  padding: 10px;
  border-top: 2px solid grey;
  text-transform: capitalize;
}

.userFollowers + .userFollowers {
  border-left: 2px solid grey;
}
