/* Комбінатори
- для потомків:  
 >  - прямий
" " - всі
- для (наступних) сусідніх: 
+   - наступний
~   - всі наступні
 */

body > article {
  border: 1px solid red;
}

/* body * {
  border: 5px solid green;
} */

h2 + p {
  font-style: italic;
  font-weight: bold;
}

article + article {
  margin-top: 5px;
}

p ~ p {
  color: darkcyan;
}
